#home {
    background: url(../images/soccer.jpg) no-repeat center fixed;
    background-size: cover;
    height: 100vh;
    .welcome {
        text-align: center;
        margin: 0 auto;
        color: #fff;
        width: 100%;
        position: relative;
        top: 15%;
        h1{
            margin: 0px;
        }
        .welcome_header {
            font-size: 9vw;
            margin-bottom: 15%;
            strong {
                color: #14b97d;
                text-transform: uppercase;
            }
        }

        .welcome_description {
            margin-bottom: 15%;
            
            padding: 0px 10%;
            font-size: 14px;
            line-height: 1.5;
        }
        .scroll_down {
            a {
                font-size: 30px;
                color: #fff;
            }
        }
        // small wide (landscape)
        @include bp(sm-wide) {
            top: 10%;
            .welcome_header {
                margin-bottom: 5%;

            }
            .welcome_description {
                padding: 0px 20%;
                font-size: 14px;
                
                margin-bottom: 5%;

            }
            .primary_btn {
                margin-bottom: 4%;
            }
            .scroll_down {
                a {
                    font-size: 30px;
                }
            }
        }
        // desktop
        @include bp(md) {
            top: 25%;
            .welcome_header {
                margin-bottom: 3%;
            }
            .welcome_description {
                padding: 0px 20%;
                font-size: 16px;
            }
            .scroll_down {
                a {
                    font-size: 60px;
                }
            }
        }
    }
}

.app_information {
    height: 100vh;
    width: 100%;
    position: relative;
    background: #fff;
    text-align: center;
    padding-top: 3%;


}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #14b97d;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    // display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    &:hover{
         opacity: 0.5;
    }

    i{
         color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    &:hover{
        color: #fff;
    top: 5px;
    }
    }
}

.players{
    
    
    border: 1px solid #fff;
    margin: 0 auto;
    @include bp(md)
    {
        width: 50%;
    }

    .team1{
        h4{
            color: #fff;
            margin: 0px 0px 10px 0px;
            background: green;
            padding: 5px;
        }
        ul{
            span{
              margin-right: 10px;
              color: green;
            }
            li{
                 display: inline-block;
            }
        }
        @include bp(md)
        {
            @include span(6);
        }
    }

        .team2{
        h4{
            
           color: #fff;
            margin: 0px 0px 10px 0px;
            background: #337ab7;
            padding: 5px;
        }
        ul{
            span{
              margin-right: 10px;
              color: #337ab7;
            }
            li{
                 display: inline-block;
            }
        }
        @include bp(md)
        {
            @include span(6);
        }
    }
}



.inactives
{
    color: red;
   
}
.actives{
    color:green;
}

