*,
*:after,
*:before {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

html {
    font-family: $font-light;
}

body {
    background-color: $white;
}

.stand_out_text {
    color: $primary-color;
}
.section_heading
{
    font-weight: bold;
    font-size: 45px;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 15px;
    &:after{
    position: absolute;
    content: '';
    height: 4px;
    background-color: #000;
    width: 10%;
    margin: 0 auto;
    clear: both;
    bottom: 0;
    left: 0;
    right: 0;
    }
}
