@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

@font-face {
    font-family: 'montserratbold';
    src: url('#{$font-path}/montserrat-bold-webfont.eot');
    src: url('#{$font-path}/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/montserrat-bold-webfont.woff2') format('woff2'),
         url('#{$font-path}/montserrat-bold-webfont.woff') format('woff'),
         url('#{$font-path}/montserrat-bold-webfont.ttf') format('truetype'),
         url('#{$font-path}/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratlight';
    src: url('#{$font-path}/montserrat-light-webfont.eot');
    src: url('#{$font-path}/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/montserrat-light-webfont.woff2') format('woff2'),
         url('#{$font-path}/montserrat-light-webfont.woff') format('woff'),
         url('#{$font-path}/montserrat-light-webfont.ttf') format('truetype'),
         url('#{$font-path}/montserrat-light-webfont.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratregular';
    src: url('#{$font-path}/montserrat-regular-webfont.eot');
    src: url('#{$font-path}/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/montserrat-regular-webfont.woff2') format('woff2'),
         url('#{$font-path}/montserrat-regular-webfont.woff') format('woff'),
         url('#{$font-path}/montserrat-regular-webfont.ttf') format('truetype'),
         url('#{$font-path}/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}