.primary_btn{
    padding: 15px 20px 15px 20px;
    color: #fff;
    text-decoration: none;
    background-color: #14b97d;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    border-bottom: 3px solid #fff;
    margin-bottom: 18%;
    
}