<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Origin Interactive App</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>

<body>
  <!-- HOME SECTION -->
  <section id="home">
    <div class="welcome">
      <h1 class="welcome_header fade-in one"><strong>Players App</strong></h1>
      <p class="welcome_description fade-in two">This app randomly selects two teams from a group of players, the number of players per teams are adjustable. players
        are only available for selection if they are set as active.
      </p>
      <a href="#app_info" class="primary_btn fade-in three">View Players</a>
      <div class="scroll_down clear" data-role="scroll">
        <a href="#app_info"><i class="fa fa-angle-double-down fade-in four"></i></a></div>
    </div>
    
  </section>

    <!-- App Information -->
  <section class="app_information" id="app_info">
    <div class="about " ng-app="myApp" ng-controller="myCtrl">
      <!-- Print Players  -->
      <div class="players">
        <div ng-if="players.length > 0 && teamOne.length == 0 && teamOne.length == 0 ">
          <h4>LIST OF PLAYERS</h4>
          <table class="table table-inverse" id="table">
            <tr colspan="3">
              <td style="font-weight: bold;">Player Name</td>
              <td style="font-weight: bold;">Status</td>
              <td></td>
            </tr>
            <tr ng-repeat="player in players">
              <td ng-bind="player.name"></td>
              <td  ng-class="{true:'actives',false:'inactives' }[player.active]" ng-bind="player.status"></td>
              <td  ng-if="player.active == true">
                <input type="button" class="btn btn-success"  value="Generate Team" ng-click="removeUnwantedPlayers(player)"></input>
              </td>
              <td></td>
            </tr>
          </table>
        </div>

        
      <div ng-if="teamOne.length != 0 && teamOne.length != 0 ">
    <!-- Print teams -->
        <div class="team1  panel panel-default">
            <h4 >TEAM ONE</h4>
        <div ng-repeat="player in teamOne">
         <ul>
            <span><i class="fa fa-user-circle"aria-hidden="true"></i></span> <li  ng-bind="player.name"></li>
         </ul> 
        </div>
        </div>

        <div class="team2 panel panel-default">
           <h4 >TEAM TWO</h4>
        <div ng-repeat="player in teamTwo">
          <ul>
          <span><i class="fa fa-user-circle" aria-hidden="true"></i></span> <li  ng-bind="player.name"></li>
         </ul>
        </div>
        </div>
        
       
        <input type="button" class="btn btn-primary" value="Reload Players" ng-click="resetPlayers()"></input>
      </div>
      </div>
  
    </div>
  </section>

  <!--Scroll to Top-->
  <a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>

  <!-- Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="js/scripts.js"></script>

  <!-- Angular Script -->
  <script>
    var app = angular.module('myApp', []);

    app.controller('myCtrl', function ($scope, $filter, $window) {

      $scope.filteredPlayers = [];
      $scope.teamOne = [];
      $scope.teamTwo = [];
      $scope.players = [];

      $scope.removeUnwantedPlayers = function (player) {

        $scope.filteredPlayers = $filter('filter')($scope.players, {
          'active': true
        }, true);

        $scope.numOfTeams = 2;
        $scope.temp = [];
        $scope.copy = [];
        $scope.number = $scope.filteredPlayers.length;
        $scope.i = null;

        while ($scope.number) {
          $scope.i = Math.floor(Math.random() * $scope.number--);
          $scope.copy.push($scope.filteredPlayers.splice($scope.i, 1)[0]);
        }
        $scope.temp = $scope.copy;
        $scope.medium = $scope.temp.length / $scope.numOfTeams

        if (player) {
          $scope.teamOne = $scope.temp.slice(0, $scope.medium);
          $scope.teamTwo = $scope.temp.slice($scope.medium);
        }

      }

      $scope.loadPlayer = function () {

        $scope.players = [{
            id: 1,
            name: "Player 1",
            active: false,
            status: "Inactive"
          },
          {
            id: 2,
            name: "Player 2",
            active: true,
            status: "Active"
          },
          {
            id: 3,
            name: "Player 3",
            active: true,
            status: "Active"
          },
          {
            id: 4,
            name: "Player 4",
            active: true,
            status: "Active"
          },
          {
            id: 5,
            name: "Player 5",
            active: true,
            status: "Active"
          },
          {
            id: 6,
            name: "Player 6",
            active: true,
            status: "Active"
          },
          {
            id: 7,
            name: "Player 7",
            active: true,
            status: "Active"
          },
          {
            id: 8,
            name: "Player 8",
            active: false,
            status: "Inactive"
          },
          {
            id: 9,
            name: "Player 9",
            active: true,
            status: "Active"
          },
          {
            id: 10,
            name: "Player 10",
            active: true,
            status: "Active"
          }
        ];

        return $scope.players;

      }

      $scope.loadPlayer();

      $scope.resetPlayers = function () {
        $scope.teamOne = [];
        $scope.teamTwo = [];
        $window.location.reload();
      }
    });
  </script>
  </div>
</body>

</html>