@import "susy";
// ==========================================================================
// FONT STYLES
// ==========================================================================
$base-font-size: 12px;
$base-line-height: 1.428571429;


// ==========================================================================
// FOLDER PATHS
// ==========================================================================

$img-path: "../images";
$font-path: "../fonts";

// ==========================================================================
// COLOURS
// ==========================================================================
$font-bold: "montserratbold";
$font-light : "montserratlight";
$font-regular: "montserratregular";



$primary-color: #18cfab;
$white 	: #fff;
$black 	: #000;
$btn_blue: #00cbf6;
$service_col_bg: #1c2a33;
$heading-color: #4e4e4e;
$news_block_col: #f8fcfe;
$news_block_border: #ebebeb;
$news_block_date_bg: #203e38;

// ==========================================================================
// Section background colors
// ==========================================================================
$about_section_bg:#090f14;
$work_section_bg:#f8fcfe;
$purchase_section_bg: #40474b;


// ==========================================================================
// Tabs Status colors
// ==========================================================================
$user-interface-col: #9c5da5;
$web-design-col: #11b0de;
$wordpress-col :#d67f7f;
$html-css-col: #20bc9d;
$app-design-col :#bb8a36;

$base_border:#959595;
$tab_primary_color: #717171;
$secondary_base_border: #e1e1e1;
$service_tab_bg: #f8fcfe;

$team_bg : #2e4a5b;




// ==========================================================================
// Susy
// ==========================================================================

$susy: (
  columns: 12,
  math:fluid,
  container: 1920px,
  global-box-sizing: border-box,
   gutters: 0.25,
  gutter-position: split
);